@page
@{
    ViewData["Title"] = "💬 Dot Chat 💬";
}

<div class="container align-items-center">
    <div id="user-and-chat-name-area" class="row text-center">
        <div class="col-6">
            <h3 id="user-and-chat-area">User Name</h3>
            <input id="user-na,e" type="text" name="user-name" placeholder="User Name" />              
        </div>    

        <div class="col-6">
            <h3 id="user-and-chat-area">Chat Room</h3>
            <input type="text" id="chat-room-name" placeholder="Chat Room" />
            <input type="button" id="join-chat-room" class="btn" value="Join Room!" />
            <input type="button" id="leave-chat-room" class="btn" value="Leave Room!" />
        </div>    
    </div>

    <div class="row">
        <div class="col-12 text-center chat-area">
            <div class="chat-log">
                <ul id="chat-messages-list"></ul>
            </div>            
        </div>

        <div class="col-12 chat-area">
            <h2>Message</h2>
            <input id="chat-message-input" type="text" size="50"/><br/> <!-- group-message-text -->
            <input id="chat-message-submit" type="button" value="Send" class="btn"/> <!-- groupmsg -->
        </div>
    </div>    
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/js/chat.js"></script>
